{% extends 'base.html' %}

{% block main_content %}
    <div class="container">
        <h2>Checkout</h2>
        <p>Thank you for your interest in our products! Please note that this is a demo site for showcasing purposes only and actual purchases cannot be made at this time.</p>
        <p>We appreciate your understanding and hope that you have enjoyed exploring our range of offerings. If you have any further questions or would like more information about our products, please don't hesitate to contact us.</p>
        <p>We look forward to potentially serving you in the future should we expand beyond a demo site. Thank you once again for visiting!</p>
        <a href="{% url 'home_page' %}" class="btn btn-secondary">Continue Shopping</a>
    </div>
{% endblock %}