{% extends 'base.html' %}
{% load static %}

{% block main_content %}

<div class="row">
    <div class="col-md-3">
        <form method="get" action="{% url 'accessories_list' %}">
            <div class="pl-3">
                {% for field in form %}
                    <div class="form-group">
                        {% for radio in field %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
                <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for accessory in accessories %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-container">
                        {% with accessory.accessory_images.all|first as accessory_image %}
                            {% if accessory_image %}
                                <img src="{{ accessory_image.image.url }}" class="card-img-top" alt="{{ accessory.name }}">
                            {% else %}
                                <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default Accessory Image">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ accessory.name }}</h5>
                        <p class="card-text">{{ accessory.description }}</p>
                        <p class="card-text price">{{ accessory.price }} USD</p>
                        <a href="{% url 'accessory_detail' pk=accessory.pk %}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
