{% extends "base.html" %}
{% load static %}

{% block main_content %}
<style>
    .label-tag {
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
</style>

  <h1 class="text-center mb-4">{{ category }}</h1>

  <div class="row">
  <div class="col-md-3">
      <form method="get" action="{% url 'equipment_category_list' category=view.kwargs.category %}">
            <div class="pl-3">
                {% for field in form %}
                    <div class="form-group">
                        <div class="label-tag">
                        {{ field.label_tag }}
                        </div>
                        {% for radio in field %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    {% include 'partials/equipment_card.html' %}

  </div>

    {% include 'partials/paginator.html' %}

{% endblock %}
