{% extends "base.html" %}
{% load static %}

{% block main_content %}
<style>
    .label-tag {
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
</style>

<h1 class="text-center mb-4">
    Equipments
</h1>

<div class="row">
    <div class="col-md-3">
        <form method="get" action="{% url 'equipments_list' %}">
            <div class="pl-3">
                {% for field in form %}
                    <div class="form-group">
                        {% for radio in field %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    {% include 'partials/equipment_card.html' %}

</div>

    {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>

  {% endif %}

{% endblock %}

