{% extends "base.html" %}
{% load static %}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card-home">
                <a href="{% url 'bicycle_list' %}">
                    <img src="{% static 'images/bicycles.jpg' %}" class="card-img-top" alt="Bicycles">
                    <h5 class="card-title-home">Bicycles</h5>
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card-home">
                <a href="{% url 'accessories_list' %}">
                    <img src="{% static 'images/accessories.jpg' %}" class="card-img-top" alt="Accessories">
                    <h5 class="card-title-home">Accessories</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card-home">
                <a href="{% url 'components_list' %}">
                    <img src="{% static 'images/components.jpg' %}" class="card-img-top" alt="Components">
                    <h5 class="card-title-home">Components</h5>
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card-home">
                <a href="{% url 'equipments_list' %}">
                    <img src="{% static 'images/equipment2.jpg' %}" class="card-img-top" alt="Equipments">
                    <h5 class="card-title-home">Equipments</h5>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}