{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block main_content %}
<style>
    .label-tag {
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
</style>
    <h1 class="text-center mb-4">{{ category|camel_case_to_spaces }}</h1>

<div class="row">
    <div class="col-md-3">
        <form method="get" action="{% url 'bicycle_category_list' category=view.kwargs.category %}">
            <div class="pl-3">
                {% for field in form %}
                    <div class="form-group">
                        <div class="label-tag">
                        {{ field.label_tag }}
                        </div>
                        {% for radio in field %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    <div class="col-md-9">

        <div class="row">

            {% for bicycle in bicycles %}

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-container">

                        {% if bicycle.bicycle_images.exists %}
                            {% with bicycle.bicycle_images.first as first_image %}
                                <img src="{{ first_image.image.url }}" class="card-img-top" alt="{{ bicycle.name }}">
                            {% endwith %}
                        {% else %}
                            <img src="{% static 'images/default_bicycle.jpg' %}" class="card-img-top" alt="Default Bicycle Image">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ bicycle.name }}</h5>
                        <p class="card-text">{{ bicycle.description }}</p>
                        <p class="card-text price">{{ bicycle.price }} USD</p>
                        <a href="{% url 'bicycle_detail' pk=bicycle.pk %}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
                {% empty %}
                <p class="label-tag">No bicycles found in this category.</p>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <!-- Pagination controls -->
        {% endif %}
    </div>
</div>
{% endblock %}