{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<style>
    .label-tag {
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
</style>
    <h1 class="text-center mb-4">
        Components
    </h1>
<div class="row">
    <div class="col-md-3">
        <form method="get" action="{% url 'components_list' %}">
            <div class="pl-3">
                {% for field in form %}
                    <div class="form-group">
                        {% for radio in field %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
                <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
    <div class="col-md-9">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for component in components %}
            <div class="col">
                <div class="card h-100">
                    {% if component.first_image %}
                        <img src="{{ component.first_image.image.url }}" class="card-img-top" alt="{{ component.name }}">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default Component Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ component.name }}</h5>
                        <p class="card-text">{{ component.description }}</p>
                        <p class="card-text price">{{ component.price }} USD</p>
                        <a href="{% url 'component_detail' pk=component.pk %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
                {% empty %}
                    <p class="label-tag">No components found in this category.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}